body{
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    padding: 10px;
    background-color: #2d64e7;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: white;
}

.btn-orange{
    background-color: #cd3d0f;
}

#btn-black {
    color: white;
    background-color: #363636;
}

h2 {
    font-weight: 600;
    font-size: 35px;
}

.description-general{
    color: #727272;
    display: block;
    margin: 40px 0;
    font-size: 20px;
}

/* section nav */

nav{
    min-height: 65px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
}

#black-sony {
    background-color: black;
    min-height: 35px;
}

#black-sony img{
    width: 80px;
    margin-right: 20px;
}

/* section returnal */

#returnal {
    background-image: url(../img/jumbo-bg.png);
    min-height: 600px;
    margin-top: 100px;
}

.img-100vw {
    color: white;
    background-size: cover;
    background-position: center;
}

#returnal img {
    margin-top: 250px;
    margin-bottom: 40px;
}

.img-100vw  span {
   padding-top: 30px;
   padding-bottom: 40px;
   display: block;
}

#returnal-img-small {
    margin-bottom: 115px;
}

#returnal-img-small img {
    border-radius: 30px;
}

/* section ps5 */
#PLAY-NO-LIMIT{
    text-align: center;
    margin-bottom: 50px;
}

.img-PS5 img {
width: 100%;
}

#ps5description-img-small img{
   width: 100%; 
}
#ps5description-img-small .description-grey {
    color: grey;
}

/*  section It takes two */

#it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 700px;
    margin-top: 30px;
}

#it-takes-two img{
    margin: 30px 0;
}

/* section nuove uscite */
#new-game {
    background-color: #1f1f1f;
    color: white;
}

#new-game img {
    width: 100%;
    border-radius: 20px;
}

#new-game h2 {
    margin-bottom: 25px;
}

#new-game > div {
    padding-bottom: 50px;
}

/* section esplora */

#explore-general {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 30px;
}

#explore img {
    width: 100%;
}

#explore > div {
    padding-bottom: 70px;
}

/* section playstation plus */
/* secttion playstation now */

#play-plus {
    background-color: #bebcbb;
    min-height: 310px ;
}

.img-play-big{
    width: 50%;
}

.logo-plus-now {
    width: 50%;
}

#play-plus span,
#play-now span {
    display: block;
    margin: 20px 0;
}

.margin-plus-now {
    margin: 60px 0;
}

#play-now {
    background-color: #161c3b;
    min-height: 310px ;
    color: white;
}

.bt-play-now {
    background-color: white;
    color: black;
}

.bt-play-plus {
    background-color: #d9dadc;
    color: blue;
}

/* section sconti */

#sconti-text {
    text-align: center;
    margin: 60px 0;
}